<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <title>sappienz web</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: "Roboto", sans-serif;
            scroll-behavior: smooth;
        }

        :Root {
            --blue: #0A2FB6;
            --lightblue: #CFDCFF;
            --green: #008A27;
            --lightgreen: #D4FFE4;
            --lightText: #B9B8B8;
            --borderColor: #B1B1B1;
            --color_F1F4F9: #F1F4F9;
            --color_ADBAFF: #ADBAFF;
            --color_263A43: #263A43;
            --yellow: #FCBE2D;
            --pink: #FD5454;
            --cyan: #00B69B;
            --red: #B60A0A;
            --color_8E8E8E: #8E8E8E;
            --color-chocolaty: #660909
        }

        a,
        a:hover {
            text-decoration: none;
        }

        ul {
            padding-left: 0px;
            margin-bottom: 0px;
            list-style: none;
        }

        .form-control {
            appearance: auto;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: var(--blue);
        }

        .ct_input {
            height: 60px;
            border: 1px solid var(--borderColor);
            border-radius: 6px;
            border: 0.6px solid #B1B1B1;
            padding-inline: 15px;

        }

        .ct_eye_top {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
        }

        .ct_mb_30 {
            margin-bottom: 30px;
        }

        .ct_mb_50 {
            margin-bottom: 50px;
        }

        /* Font Size Css S */
        .ct_fs_35 {
            font-size: 35px;
        }

        .ct_fs_24 {
            font-size: 24px;
        }

        .ct_fs_28 {
            font-size: 28px;
        }

        .ct_fs_20 {
            font-size: 20px;
        }

        .ct_fs_12 {
            font-size: 12px;
        }

        .ct_fs_14 {
            font-size: 14px;
        }

        .ct_fs_16 {
            font-size: 16px;
        }

        /* Font Size Css E */

        /* font weight css S */
        .ct_fw_400 {
            font-weight: 400;
        }

        .ct_fw_500 {
            font-weight: 500;
        }

        .ct_fw_600 {
            font-weight: 600;
        }

        .ct_fw_700 {
            font-weight: 700;
        }

        .ct_fw_800 {
            font-weight: 800;
        }

        /* font weight css E */

        .ct_blue_text {
            color: #0A2FB6;
        }

        .ct_brown_text {
            color: var(--color-chocolaty);
        }

        .ct_light_text {
            color: var(--lightText);
        }

        .ct_light_green_bg {
            background-color: var(--lightgreen);
        }

        .ct_green_text {
            color: var(--green);
        }

        .ct_color_8E8E8E {
            color: var(--color_8E8E8E);
        }

        .ct_img_36 {
            height: 36px;
            width: 36px;
            border-radius: 100px;
            object-fit: cover;
        }

        .ct_img_44 {
            height: 44px;
            width: 44px;
            border-radius: 100px;
            object-fit: cover;
        }

        .ct_img_66 {
            height: 66px;
            width: 66px;
            border-radius: 100px;
            object-fit: cover;
        }

        .ct_img_109 {
            height: 109px;
            width: 109px;
            border-radius: 100px;
            object-fit: cover;
        }

        .ct_img_148 {
            height: 148px;
            width: 148px;
            border-radius: 100px;
            object-fit: cover;
        }

        .ct_blue_btn {
            background-color: var(--blue);
            padding: 20px 30px;
            border-radius: 6px;
            height: 60px;
            text-align: center;
            color: #fff;
            font-weight: 500;
            display: flex;
            align-items: center;
            outline: none;
            border: none;
            transition: 0.4s ease all;
        }

        .ct_blue_btn:hover {
            background-color: var(--color_263A43);
        }

        /* Login css S */
        .ct_back_login {
            width: 24px;
            height: 24px;
            border-radius: 100px;
            background-color: var(--color_ADBAFF);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #21005D;
            font-size: 12px;
            font-weight: 700;
        }

        .ct_login_right_img img {
            width: 90%;
            height: 100%;
            object-fit: cover;
            object-position: left;
            max-width: 653px;
            border-radius: 20px;
            transition: 0.4s ease all;
            object-position: 0px -40px;
        }

        .ct_login_right_img {
            position: relative;
            z-index: 1;
            padding-block: 80px;
            height: 100vh;
        }

        .ct_login_tab {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .ct_login_form {
            display: flex;
            justify-content: center;
            margin-top: 32px;
            flex-direction: column;
            /* align-items: center; */
            max-width: 400px;
            margin-inline: auto;
        }

        .ct_outline_btn {
            padding: 2px 10px;
            height: 55px;
            width: 194px;
            border: 2px solid var(--borderColor);
            border-radius: 18px;
            color: var(--blue);
            background-color: transparent;
            font-weight: 500;
            position: relative;
            transition: 0.4s ease all;
            z-index: 1;
            box-shadow: 0px 5px 17.9px 0px #0000001A;
        }

        .ct_login_tab_active {
            background-color: var(--lightblue);
            border-color: #fff;
        }

        .ct_login_right_img:after {
            content: "";
            background-image: url(../img/login_right_blue.png);
            position: absolute;
            top: 0px;
            right: 0px;
            width: 70%;
            height: 100%;
            z-index: -1;

        }

        .ct_badge {
            padding: 4px 30px;
            border-radius: 100px;
        }


        .ct_custom_checkbox {
            accent-color: var(--blue);
            width: 16px;
            height: 16px;
        }

        .ct_forgot_password_link:hover {
            color: var(--blue);
        }

        .ct_admin_login_btn_fixed {
            position: absolute;
            top: 30px;
            right: 15px;
        }

        .ct_admin_login_btn_fixed a {
            position: fixed;
            top: 15px;
            right: 30px;
            z-index: 999;
            background-color: #fff;
            padding: 10px;
            border-radius: 6px;
            color: #000;
            font-weight: 500;
            display: flex;
            align-items: center;
        }

        .ct_admin_login_btn_fixed a i {
            color: var(--blue);
        }

        @media screen and (max-width: 991px) {
            .ct_login_right_img img {
                width: 100%;
                max-width: 100%;
            }
        }

        /* Login css E */

        .mainDiv {
            display: flex;
            min-height: 100%;
            align-items: center;
            justify-content: center;
            background-color: #f9f9f9;
            font-family: 'Open Sans', sans-serif;
        }

        .cardStyle {
            width: 500px;
            border-color: white;
            background: #fff;
            padding: 36px 0;
            border-radius: 4px;
            margin: 30px 0;
            box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
        }

        #signupLogo {
            max-height: 100px;
            margin: auto;
            display: flex;
            flex-direction: column;
        }

        .formTitle {
            font-weight: 600;
            margin-top: 20px;
            color: #2F2D3B;
            text-align: center;
        }

        .inputLabel {
            font-size: 12px;
            color: #555;
            margin-bottom: 6px;
            margin-top: 24px;
        }

        .inputDiv {
            width: 70%;
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        input {
            height: 40px;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            border: solid 1px #ccc;
            padding: 0 11px;
        }

        input:disabled {
            cursor: not-allowed;
            border: solid 1px #eee;
        }

        .buttonWrapper {
            margin-top: 40px;
        }

        .submitButton {
            width: 70%;
            height: 40px;
            margin: auto;
            display: block;
            color: #fff;
            background-color: #065492;
            border-color: #065492;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;
        }

        .submitButton:disabled,
        button[disabled] {
            border: 1px solid #cccccc;
            background-color: #cccccc;
            color: #666666;
        }

        .ct_show_pass {
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translate(-50%, -50%);
        }

        .inputDiv {
            position: relative;
        }

        .ct_trade_logo {
            max-width: 150px;
            max-height: 150px;
            margin-inline: auto;
            display: block;
        }

        footer.ct_footer_bg {
            background-color: #3c434e;
            padding: 15px;
            color: #fff;
        }

        .ct_custom_btn {
            display: inline-block;
            padding: 12px 24px;
            border: 1px solid #0587f1;
            border-radius: 4px;
            transition: all 0.2s ease-in;
            position: relative;
            overflow: hidden;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            background-color: #048eff;
            z-index: 1;
            margin-top: 24px;
            width: fit-content;
            line-height: 0px;
        }

        #signupForm .inputDiv input {
            outline: none;
        }

        #signupForm .inputDiv label.inputLabel {
            font-size: 14px;
            font-weight: 500;
        }

        .ct_input_show {
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <section class="">
        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    <div class="ct_login_form">

                        <!-- <form method="post" action="/api/students_router/changeForgotPassword">
                            <div class="ct_login_form_cnt">
                                <div class="ct_mb_50">
                                    <h2 class="ct_fs_35 ct_fw_600 ct_mb_30">Create New Password </h2>
                                    <p class="ct_light_text mb-0">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry.</p>
                                </div>


                                <div class="form-group mb-4">
                                    <label for="" class="d-flex align-items-center justify-content-between mb-3"><span
                                            class="ct_fw_600 ct_fs_20">New Password</span><span
                                            class="ct_badge ct_light_green_bg ct_green_text">Strong</span></label>
                                    <div class="position-relative">
                                        <input type="password" id="password" name="password" class="ct_input_show"
                                            required minlength="8" maxlength="10">
                                        <div class="ct_show_pass" onclick="showhide()">
                                            <i class="fa fa-eye-slash"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="d-flex align-items-center justify-content-between mb-3"><span
                                            class="ct_fw_600 ct_fs_20">Confirm Password</span><span
                                            class="ct_badge ct_light_green_bg ct_green_text">Strong</span></label>
                                    <div class="position-relative">
                                        <input type="password" class="ct_input_show ct_input_show2" id="confirmPassword"
                                            name="confirm_password" required minlength="8" maxlength="10">
                                        <div class="ct_show_pass ct_show_pass2" onclick="showhide2()">
                                            <i class="fa fa-eye-slash"></i>
                                        </div>
                                    </div>
                                    <p
                                        style="margin-top:5px; color: rgb(204, 9, 9); background-color: rgb(255, 255, 255);">
                                        <%= msg %> <br>
                                    </p>
                                </div>
                            </div>


                            <div class="mt-5">
                                <button class="ct_blue_btn w-100 justify-content-center">Continue</button>
                            </div>
                            <p class="text-center mt-4">Already have an account? <a href="student-login.html"
                                    class="ct_fw_600 ct_blue_text ms-3">Login</a></p>
                        </form> -->
                        <form method="post" action="/api/user/changeForgotPassword" id="signupForm">
                            <div class="ct_login_form_cnt">
                                <div class="ct_mb_50">
                                    <h2 class="ct_fs_35 ct_fw_600 ct_mb_30">Create New Password </h2>
                                    <!-- <p class="ct_light_text mb-0">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry.</p> -->
                                </div>


                                <div class="form-group mb-4">
                                    <label for="" class="d-flex align-items-center justify-content-between mb-3"><span
                                            class="ct_fw_600 ct_fs_20">New Password</span>
                                        <!-- <span
                                            class="ct_badge ct_light_green_bg ct_green_text">Strong</span> -->
                                    </label>
                                    <div class="position-relative">
                                        <input type="password" id="password" name="password" class="ct_input_show"
                                            required minlength="8" maxlength="16">
                                        <div class="ct_show_pass" onclick="showhide()">
                                            <i class="fa fa-eye-slash"></i>
                                        </div>
                                    </div>
                                    <p id="errorMessage"
                                        style="margin-top:5px; color: rgb(204, 9, 9); background-color: rgb(255, 255, 255);">
                                        <br>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="" class="d-flex align-items-center justify-content-between mb-3"><span
                                            class="ct_fw_600 ct_fs_20">Confirm Password</span>
                                        <!-- <span
                                            class="ct_badge ct_light_green_bg ct_green_text">Strong</span> -->
                                    </label>
                                    <div class="position-relative">
                                        <input type="password" class="ct_input_show ct_input_show2" id="confirmPassword"
                                            name="confirm_password" required minlength="8" maxlength="16">
                                        <div class="ct_show_pass ct_show_pass2" onclick="showhide2()">
                                            <i class="fa fa-eye-slash"></i>
                                        </div>
                                    </div>

                                    <p id="passwordNotMatch"
                                        style="margin-top:5px; color: rgb(204, 9, 9); background-color: rgb(255, 255, 255);">
                                        <%= msg %> <br>
                                    </p>

                                </div>
                            </div>


                            <div class="mt-5">
                                <button class="ct_blue_btn w-100 justify-content-center">Continue</button>
                            </div>
                            <!-- <p class="text-center mt-4">Already have an account? <a href="student-login.html"
                                    class="ct_fw_600 ct_blue_text ms-3">Login</a></p> -->
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-4 mb-lg-0 px-lg-0 d-none d-lg-block">
                    <div class="ct_login_right_img">
                        <img src="http://192.168.29.100:4002/student_login_img.jpg" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- All Js Start -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- <script>

$(document).ready(function () {
            const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            $('#password').on('submit', function (e) {
                e.preventDefault();

                let newPassword = $('#password').val();
                let confirmPassword = $('#confirm_password').val();
                let errorMessage = '';

                if (!passwordPattern.test(newPassword)) {
                    errorMessage = 'Password must contain at least 1 lowercase letter, 1 uppercase letter, 1 number, 1 special character, and be at least 8 characters long.';
                } else if (newPassword !== confirmPassword) {
                    errorMessage = 'Passwords do not match.';
                }

               
            });

            $('#password').on('input', function () {
                let newPassword = $(this).val();
                let strength = 'Weak';
                if (passwordPattern.test(newPassword)) {
                    strength = 'Strong';
                }
                $('#passwordStrength').text(strength);
            });
        });

        document.getElementById('signupForm').addEventListener('submit', function (event) {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;

            if (password.length < 8 || password.length > 10) {
                alert('Password must be between 8 and 10 characters long.');
                event.preventDefault();
                return false;
            }

            if (confirmPassword.length < 8 || confirmPassword.length > 10) {
                alert('Confirm Password must be between 8 and 10 characters long.');
                event.preventDefault();
                return false;
            }

            if (password !== confirmPassword) {
                alert('Passwords do not match.');
                event.preventDefault();
                return false;
            }

            return true;
        });


        function showhide() {
            if (document.querySelector('.ct_input_show').type === "password") {
                document.querySelector('.ct_input_show').type = "text";
                document.querySelector('.ct_show_pass').innerHTML = "<i class='fa fa-eye'></i>"
                    ;

            } else {
                document.querySelector('.ct_input_show').type = "password"
                document.querySelector('.ct_show_pass').innerHTML = "<i class='fa fa-eye-slash'></i>"
            }
        }
        function showhide2() {
            if (document.querySelector('.ct_input_show2').type === "password") {
                document.querySelector('.ct_input_show2').type = "text";
                document.querySelector('.ct_show_pass2').innerHTML = "<i class='fa fa-eye'></i>"
                    ;

            } else {
                document.querySelector('.ct_input_show2').type = "password"
                document.querySelector('.ct_show_pass2').innerHTML = "<i class='fa fa-eye-slash'></i>"
            }
        }


    </script> -->
    <!-- All Js End -->

    <script>
        $(document).ready(function ($) {

            const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            const criteria = {
                lowercase: /[a-z]/,
                uppercase: /[A-Z]/,
                number: /\d/,
                special: /[@$!%*?&]/,
                length: /.{8,}/
            };

            $('#signupForm').on('submit', function (e) {
                let newPassword = $('#password').val();
                let confirmPassword = $('#confirmPassword').val();
                let errorMessage = '';
                let passwordNotMatch = '';

                if (!passwordPattern.test(newPassword)) {
                    errorMessage = 'Password must contain at least 1 lowercase letter, 1 uppercase letter, 1 number, 1 special character, and be at least 8 characters long.';
                } else if (newPassword !== confirmPassword) {
                    passwordNotMatch = 'Passwords do not match.';
                } else {
                    errorMessage = '',
                        passwordNotMatch = ''
                }
                if (passwordNotMatch) {
                    e.preventDefault();
                    $('#passwordNotMatch').text(passwordNotMatch);
                }

                if (errorMessage) {
                    e.preventDefault();
                    $('#errorMessage').text(errorMessage);
                }
            });

            $('#password').on('input', function () {
                let newPassword = $(this).val();
                validatePassword(newPassword);
            });

            function validatePassword(password) {
                let isValid = true;

                $.each(criteria, function (key, regex) {
                    if (regex.test(password)) {
                        $('#' + key).css('color', 'green');
                    } else {
                        $('#' + key).css('color', 'red');
                        isValid = false;
                    }
                });

                let strength = isValid ? 'Strong' : 'Weak';
                $('#passwordStrength').text(strength);
            }
        });

        function showhide() {
            const passwordField = document.querySelector('.ct_input_show');
            const showPassIcon = document.querySelector('.ct_show_pass i');

            if (passwordField.type === "password") {
                passwordField.type = "text";
                showPassIcon.classList.remove('fa-eye-slash');
                showPassIcon.classList.add('fa-eye');
            } else {
                passwordField.type = "password";
                showPassIcon.classList.remove('fa-eye');
                showPassIcon.classList.add('fa-eye-slash');
            }
        }

        function showhide2() {
            const confirmPasswordField = document.querySelector('.ct_input_show2');
            const showPassIcon = document.querySelector('.ct_show_pass2 i');

            if (confirmPasswordField.type === "password") {
                confirmPasswordField.type = "text";
                showPassIcon.classList.remove('fa-eye-slash');
                showPassIcon.classList.add('fa-eye');
            } else {
                confirmPasswordField.type = "password";
                showPassIcon.classList.remove('fa-eye');
                showPassIcon.classList.add('fa-eye-slash');
            }
        }


    </script>
</body>

</html>